h1 {
  text-decoration: underline;
}
h2 {
  color: blue;
}

/*Menu*/
.topheader {
  position = fixed;
  background-color: #FFFFFF;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 20px;
}

.menu-horizontal{
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.menu-horizontal li a{
  display: block;
  padding: 15px 20px;
  color: blue;
  text-decoration: none;
}

.menu-horizontal li a:hover{
  color: red;
}

.menu-vertical{
  padding: 0;
  position: absolute;
  display: none;
  width: 180px;
  background-color: white;
  list-style: none;
}

.menu-horizontal li:hover .menu-vertical{
  display: block;
}

.menu-vertical li a{
  font-size: 15px;
  color: black;
}

/*Sobre mi*/
.seccion-sobremi{
  padding: 60px 20px;
  background-color: #1A3D64;
}

.div-gral-sobremi{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200;
  margin: 0 auto;
  gap: 40px;
}

.div-sobremi-texto{
  flex: 1;
}

.div-sobremi-texto h2{
  color: blue;
  margin-bottom: 15px;
}

.div-sobremi-texto p{
  color: #FFF1CB;
  line-height: 1.3;
}

.div-sobremi-img{
  width: 10%;
  max-width: 800px;
}

.seccion-experiencia{
  pdding: 60px 20px
  background-color: #A18D6D
}

.div-gral-experiencia{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200;
  margin: 0 auto;
  gap: 40px;
}

.div-sobremi-texto{
  flex: 1;
}

.div-sobremi-texto h2{
  
}

.seccion-formulario{
  background-color: #FFFFFF;
  padding: 40px;
  border: 3px;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.div-cont-formulario{
  background-color: #4666bb;
  padding: 30px;
  border: 2px solid #1A3D64;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
}

.campo{
  border: 1.5px;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  background-color: #1D546C;
}

.formulario label{
  display: block;
  font-weight: 600;
  margin-bottom: 8px;
  color: #FBF3D1;
}

input[type=text], select{
  width: 100%;
  padding: 10px;
  border: 1px solid #F7A5A5;
  border-radius: 5px;
}

.lista-checkbox; .lista-radio{
  list-style: none;
  padding:8px;
  border: 1px;
  margin: 0;
  background-color: #C2E2FA;
  border-radius: 5px;
}

.lista-checkbox li; .lista-radio li{
  margin-bottom: 8px;
}

button{
  background-color: orange;
  color: #000000;
  border: 1.5px solid black;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer; 
}